*.swp
*.pyc
*.csv
*.RData
*.h5
static/*
local_settings.py
settings_env/local.py
ve
.idea
blog/wp-content/uploads
blog/sitemap*
db
.DS_Store
settings_env/local.py
scripts/setup_tunnel.sh
blog/sitemap.xml
blog/sitemap.xml.gz
.#*
*~
media
media/photos
media/cache
\#*
